.custom-modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 1000;
  pointer-events: none;
}

.custom-modal-overlay.show {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.custom-modal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.custom-modal-body {
  padding: 10px;
  overflow-y: auto;
}

.close {
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.shift-left {
  margin-right: 450px;
}

@media (min-width: 360px) and(max-width: 420px) {
  .shift-left {
    margin-right: 150px;
  }
  .custom-modal-overlay {
    width: 150px;
  }
}
