.campaign {
  color: #666666;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content.show {
  display: block;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.pdr {
  padding-right: 2rem;
}
.pdl {
  padding-left: 2rem;
}
.startcampaign {
  font-weight: 700;
}
.selectoption {
  width: 100%;
}
.mgr {
  margin-right: 0.8rem;
}
.setModuleheight {
  background: #eaeff44f;
  border-left: 2px dotted #2aa15f;
  padding: 10px;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  border: 1.5px solid #2aa15f;
}

.campaign select,
.campaign input,
.campaign button,
.campaign p,
.campaign label {
  font-size: 15px;
  color: #666666;
}
